@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('src/assets/fonts/PlusJakartaSans-Medium.woff2') format('woff2'),
  url('src/assets/fonts/PlusJakartaSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('src/assets/fonts/PlusJakartaSans-Semibold.woff2') format('woff2'),
  url('src/assets/fonts/PlusJakartaSans-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('src/assets/fonts/PlusJakartaSans-Bold.woff2') format('woff2'),
  url('src/assets/fonts/PlusJakartaSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
