.header {
  background: var(--primary-0);
  border-bottom: 1px solid rgba(195, 212, 233, 0.4);
  width: 100vw;

  &__logo {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: var(--primary-500);
    text-transform: uppercase;
  }
  &__navigation-list {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }
  &__inner {
    padding: 1.6rem 6.4rem;
    display: flex;
    align-items: center;
    gap: 3.2rem;
  }
  svg {
    width: 2.4rem;
    height: 2.4rem;
    color: #596780;
  }
  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    gap: 2.4rem;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9rem;
  font-size: 1.6rem;
  font-weight: 600;

  &--transparent--border {
    background: transparent;
    border: 0.1rem solid rgba(195, 212, 233, 0.4);
  }
  &--transparent {
    background: transparent;
  }
  &--primary {
    background: var(--primary-500);
    color: var(--primary-0);
    border-radius: 1.6rem;
  }
  &-header, &-header--login {
    padding: 1rem;
    height: 4.8rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--primary-700);
  }
  &-header--login {
    padding: 1rem 3.2rem;
    width: unset;
  }
  &-login-banner {
    text-decoration: underline !important;
    span {
      font-size: 1.6rem;
    }
  }
  &-login-form {
    padding: 1.6rem 3.2rem;
  }
}

.page-container {
  padding: 6.4rem;
}
.login {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.8rem;
  }
  &__form {
    border-radius: 2.4rem;
    background: var(--primary-100);
    padding: 4.8rem;

    div:last-child {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--secondary-400);
      gap: 0.6rem;
      font-size: 1.6rem;
      padding-top: 3.6rem;

    }
  }

  &__banner {
    position: relative;
    width: 63.2rem;
    height: 46.2rem;
    border-radius: 2.4rem;
    overflow: hidden;

    &__img {
      width: 63.2rem;
      height: 46.2rem;
      display: block;
      background: var(--primary-500);
    }

    &__info {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      padding: 4.8rem;
      font-size: 3.6rem;
      font-weight: 600;
      color: white;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2.4rem;
      width: 100%;

      > span {
        font-size: 2rem;
        font-weight: 500;
      }

      &__register {
        font-size: 1.6rem;
        padding: 1.6rem 3.2rem;
        border-radius: 1.6rem;
        background: var(--primary-0);
        color: var(--secondary-500);
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 2.4rem;
        margin-top: 2rem;
      }
    }
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.4rem;



  &--login {

    input {
      background: var(--primary-0);
      padding: 1.6rem;
      font-size: 1.6rem;
      border-radius: 1.6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      border: 0.2rem solid var(--secondary-200);

    }

  }
}

.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.6rem;
  .form {
    width: 100%;
  }

  h2 {
    font-size: 2.4rem;
    font-weight: 600;
  }
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.car-card {
  width: 30.4rem;
  height: auto;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 2.4rem;
  background-color: var(--primary-0);

  &__model {
    font-weight: 700;
    font-size: 2rem;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: var(--secondary-500);
  }

  &__info-row {
    display: flex;
    justify-content: space-between;
  }

  &__tag {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: var(--secondary-300);
  }

  &__year {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: var(--secondary-300);
  }

  &__number {
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #000;

    .region {
      font-size: 2.4rem;
    }
  }

  &__action-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    color: var(--secondary-500);

    .period {
      font-size: 1.4rem;
      color: var(--secondary-300);
    }
  }

  &__button {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--primary-0);
    background: var(--primary-500);
    padding: 1rem 1.8rem;
    border-radius: 0.4rem;
  }
}

.catalog {
  &__list ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }
}