.header {
  background: var(--primary-0);
  border-bottom: 1px solid rgba(195, 212, 233, 0.4);
  width: 100vw;

  &__logo {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: var(--primary-500);
    text-transform: uppercase;
  }
  &__navigation-list {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }
  &__inner {
    padding: 1.6rem 6.4rem;
    display: flex;
    align-items: center;
    gap: 3.2rem;
  }
  svg {
    width: 2.4rem;
    height: 2.4rem;
    color: #596780;
  }
  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    gap: 2.4rem;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9rem;
  &--transparent--border {
    background: transparent;
    border: 0.1rem solid rgba(195, 212, 233, 0.4);
  }
  &--transparent {
    background: transparent;
  }
  &-header, &-header--login {
    padding: 1rem;
    height: 4.8rem;
    width: 4.8ren;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--primary-700);
  }
  &-header--login {
    padding: 1rem 3.2rem;
    width: unset;
  }


}
